server:
  port: 8087
spring:
  application:
    name: inventory-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: ecomdb
eureka:
  client:
    enabled: true
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

sandboxgpt:
  enable: true
  baseurl: https://api.openai.com/v1/
  assistant: "asst_8Bxl8GXXgi6XYepSPzAbV4sr"
  role: user
  authorization: Bearer sk-proj-9gZgO4kOhs6RkXgNrgvbT3BlbkFJogfmpgfxmwrBVZ7K95Df

